<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.inossem.wms.dao.biz.BizFailMesMapper">
  <resultMap id="BaseResultMap" type="com.inossem.wms.model.biz.BizFailMes">
    <id column="fail_id" jdbcType="INTEGER" property="failId" />
    <result column="refer_receipt_id" jdbcType="INTEGER" property="referReceiptId" />
    <result column="refer_receipt_code" jdbcType="VARCHAR" property="referReceiptCode" />
    <result column="refer_receipt_type" jdbcType="TINYINT" property="referReceiptType" />
    <result column="business_type" jdbcType="VARCHAR" property="businessType" />
    <result column="create_user" jdbcType="VARCHAR" property="createUser" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modify_user" jdbcType="VARCHAR" property="modifyUser" />
    <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
    <result column="status" jdbcType="TINYINT" property="status" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.inossem.wms.model.biz.BizFailMes">
    <result column="error_info" jdbcType="LONGVARCHAR" property="errorInfo" />
  </resultMap>
  <sql id="Base_Column_List">
    fail_id, refer_receipt_id, refer_receipt_code, refer_receipt_type, business_type, 
    create_user, create_time, modify_user, modify_time, status
  </sql>
  <sql id="Blob_Column_List">
    error_info
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from biz_fail_mes
    where fail_id = #{failId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from biz_fail_mes
    where fail_id = #{failId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.inossem.wms.model.biz.BizFailMes">
    insert into biz_fail_mes (fail_id, refer_receipt_id, refer_receipt_code, 
      refer_receipt_type, business_type, create_user, 
      create_time, modify_user, modify_time, 
      status, error_info)
    values (#{failId,jdbcType=INTEGER}, #{referReceiptId,jdbcType=INTEGER}, #{referReceiptCode,jdbcType=VARCHAR}, 
      #{referReceiptType,jdbcType=TINYINT}, #{businessType,jdbcType=VARCHAR}, #{createUser,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{modifyUser,jdbcType=VARCHAR}, #{modifyTime,jdbcType=TIMESTAMP}, 
      #{status,jdbcType=TINYINT}, #{errorInfo,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.inossem.wms.model.biz.BizFailMes">
    insert into biz_fail_mes
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="failId != null">
        fail_id,
      </if>
      <if test="referReceiptId != null">
        refer_receipt_id,
      </if>
      <if test="referReceiptCode != null">
        refer_receipt_code,
      </if>
      <if test="referReceiptType != null">
        refer_receipt_type,
      </if>
      <if test="businessType != null">
        business_type,
      </if>
      <if test="createUser != null">
        create_user,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="modifyUser != null">
        modify_user,
      </if>
      <if test="modifyTime != null">
        modify_time,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="errorInfo != null">
        error_info,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="failId != null">
        #{failId,jdbcType=INTEGER},
      </if>
      <if test="referReceiptId != null">
        #{referReceiptId,jdbcType=INTEGER},
      </if>
      <if test="referReceiptCode != null">
        #{referReceiptCode,jdbcType=VARCHAR},
      </if>
      <if test="referReceiptType != null">
        #{referReceiptType,jdbcType=TINYINT},
      </if>
      <if test="businessType != null">
        #{businessType,jdbcType=VARCHAR},
      </if>
      <if test="createUser != null">
        #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyUser != null">
        #{modifyUser,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null">
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        #{status,jdbcType=TINYINT},
      </if>
      <if test="errorInfo != null">
        #{errorInfo,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.inossem.wms.model.biz.BizFailMes">
    update biz_fail_mes
    <set>
      <if test="referReceiptId != null">
        refer_receipt_id = #{referReceiptId,jdbcType=INTEGER},
      </if>
      <if test="referReceiptCode != null">
        refer_receipt_code = #{referReceiptCode,jdbcType=VARCHAR},
      </if>
      <if test="referReceiptType != null">
        refer_receipt_type = #{referReceiptType,jdbcType=TINYINT},
      </if>
      <if test="businessType != null">
        business_type = #{businessType,jdbcType=VARCHAR},
      </if>
      <if test="createUser != null">
        create_user = #{createUser,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyUser != null">
        modify_user = #{modifyUser,jdbcType=VARCHAR},
      </if>
      <if test="modifyTime != null">
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="errorInfo != null">
        error_info = #{errorInfo,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where fail_id = #{failId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.inossem.wms.model.biz.BizFailMes">
    update biz_fail_mes
    set refer_receipt_id = #{referReceiptId,jdbcType=INTEGER},
      refer_receipt_code = #{referReceiptCode,jdbcType=VARCHAR},
      refer_receipt_type = #{referReceiptType,jdbcType=TINYINT},
      business_type = #{businessType,jdbcType=VARCHAR},
      create_user = #{createUser,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      modify_user = #{modifyUser,jdbcType=VARCHAR},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=TINYINT},
      error_info = #{errorInfo,jdbcType=LONGVARCHAR}
    where fail_id = #{failId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.inossem.wms.model.biz.BizFailMes">
    update biz_fail_mes
    set refer_receipt_id = #{referReceiptId,jdbcType=INTEGER},
      refer_receipt_code = #{referReceiptCode,jdbcType=VARCHAR},
      refer_receipt_type = #{referReceiptType,jdbcType=TINYINT},
      business_type = #{businessType,jdbcType=VARCHAR},
      create_user = #{createUser,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      modify_user = #{modifyUser,jdbcType=VARCHAR},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=TINYINT}
    where fail_id = #{failId,jdbcType=INTEGER}
  </update>
  
  <delete id="deleteDateByDays" >
  	delete From biz_fail_mes where DATE(create_time) &lt;= DATE(DATE_SUB(NOW(),INTERVAL #{days} day));
  </delete>
</mapper>