<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.inossem.wms.dao.syn.SynInspectNoticeItemMapper">
  <resultMap id="BaseResultMap" type="com.inossem.wms.model.syn.SynInspectNoticeItem">
    <id column="item_id" jdbcType="INTEGER" property="itemId" />
    <result column="inspect_notice_code" jdbcType="VARCHAR" property="inspectNoticeCode" />
    <result column="inspect_rid" jdbcType="VARCHAR" property="inspectRid" />
    <result column="mat_id" jdbcType="INTEGER" property="matId" />
    <result column="arrive_qty" jdbcType="DECIMAL" property="arriveQty" />
    <result column="take_delivery_qty" jdbcType="DECIMAL" property="takeDeliveryQty" />
    <result column="inspect_qty" jdbcType="DECIMAL" property="inspectQty" />
    <result column="unit_id" jdbcType="INTEGER" property="unitId" />
    <result column="decimal_place" jdbcType="TINYINT" property="decimalPlace" />
    <result column="purchase_order_code" jdbcType="VARCHAR" property="purchaseOrderCode" />
    <result column="purchase_order_rid" jdbcType="VARCHAR" property="purchaseOrderRid" />
    <result column="manufacturer" jdbcType="VARCHAR" property="manufacturer" />
    <result column="contact_account" jdbcType="VARCHAR" property="contactAccount" />
    <result column="contact" jdbcType="VARCHAR" property="contact" />
    <result column="contact_tel" jdbcType="VARCHAR" property="contactTel" />
    <result column="fty_id" jdbcType="INTEGER" property="ftyId" />
    <result column="werks" jdbcType="VARCHAR" property="werks" />
    <result column="location_id" jdbcType="INTEGER" property="locationId" />
    <result column="lgort" jdbcType="VARCHAR" property="lgort" />
    <result column="inspect_address" jdbcType="VARCHAR" property="inspectAddress" />
    <result column="use_dept_code" jdbcType="VARCHAR" property="useDeptCode" />
    <result column="mat_use" jdbcType="VARCHAR" property="matUse" />
    <result column="inspector_account" jdbcType="VARCHAR" property="inspectorAccount" />
    <result column="inspector" jdbcType="VARCHAR" property="inspector" />
    <result column="inspector_tel" jdbcType="VARCHAR" property="inspectorTel" />
    <result column="spec_stock" jdbcType="VARCHAR" property="specStock" />
    <result column="spec_stock_code" jdbcType="VARCHAR" property="specStockCode" />
    <result column="spec_stock_name" jdbcType="VARCHAR" property="specStockName" />
    <result column="inspect_notice_id" jdbcType="INTEGER" property="inspectNoticeId" />
  </resultMap>
  <sql id="Base_Column_List">
    item_id, inspect_notice_code, inspect_rid, mat_id, arrive_qty, take_delivery_qty, 
    inspect_qty, unit_id, decimal_place, purchase_order_code, purchase_order_rid, manufacturer, 
    contact_account, contact, contact_tel, fty_id, werks, location_id, lgort, inspect_address, 
    use_dept_code, mat_use, inspector_account, inspector, inspector_tel, spec_stock, 
    spec_stock_code, spec_stock_name, inspect_notice_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from syn_inspect_notice_item
    where item_id = #{itemId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from syn_inspect_notice_item
    where item_id = #{itemId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.inossem.wms.model.syn.SynInspectNoticeItem">
    insert into syn_inspect_notice_item (item_id, inspect_notice_code, inspect_rid, 
      mat_id, arrive_qty, take_delivery_qty, 
      inspect_qty, unit_id, decimal_place, 
      purchase_order_code, purchase_order_rid, manufacturer, 
      contact_account, contact, contact_tel, 
      fty_id, werks, location_id, 
      lgort, inspect_address, use_dept_code, 
      mat_use, inspector_account, inspector, 
      inspector_tel, spec_stock, spec_stock_code, 
      spec_stock_name, inspect_notice_id)
    values (#{itemId,jdbcType=INTEGER}, #{inspectNoticeCode,jdbcType=VARCHAR}, #{inspectRid,jdbcType=VARCHAR}, 
      #{matId,jdbcType=INTEGER}, #{arriveQty,jdbcType=DECIMAL}, #{takeDeliveryQty,jdbcType=DECIMAL}, 
      #{inspectQty,jdbcType=DECIMAL}, #{unitId,jdbcType=INTEGER}, #{decimalPlace,jdbcType=TINYINT}, 
      #{purchaseOrderCode,jdbcType=VARCHAR}, #{purchaseOrderRid,jdbcType=VARCHAR}, #{manufacturer,jdbcType=VARCHAR}, 
      #{contactAccount,jdbcType=VARCHAR}, #{contact,jdbcType=VARCHAR}, #{contactTel,jdbcType=VARCHAR}, 
      #{ftyId,jdbcType=INTEGER}, #{werks,jdbcType=VARCHAR}, #{locationId,jdbcType=INTEGER}, 
      #{lgort,jdbcType=VARCHAR}, #{inspectAddress,jdbcType=VARCHAR}, #{useDeptCode,jdbcType=VARCHAR}, 
      #{matUse,jdbcType=VARCHAR}, #{inspectorAccount,jdbcType=VARCHAR}, #{inspector,jdbcType=VARCHAR}, 
      #{inspectorTel,jdbcType=VARCHAR}, #{specStock,jdbcType=VARCHAR}, #{specStockCode,jdbcType=VARCHAR}, 
      #{specStockName,jdbcType=VARCHAR}, #{inspectNoticeId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.inossem.wms.model.syn.SynInspectNoticeItem">
    insert into syn_inspect_notice_item
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="itemId != null">
        item_id,
      </if>
      <if test="inspectNoticeCode != null">
        inspect_notice_code,
      </if>
      <if test="inspectRid != null">
        inspect_rid,
      </if>
      <if test="matId != null">
        mat_id,
      </if>
      <if test="arriveQty != null">
        arrive_qty,
      </if>
      <if test="takeDeliveryQty != null">
        take_delivery_qty,
      </if>
      <if test="inspectQty != null">
        inspect_qty,
      </if>
      <if test="unitId != null">
        unit_id,
      </if>
      <if test="decimalPlace != null">
        decimal_place,
      </if>
      <if test="purchaseOrderCode != null">
        purchase_order_code,
      </if>
      <if test="purchaseOrderRid != null">
        purchase_order_rid,
      </if>
      <if test="manufacturer != null">
        manufacturer,
      </if>
      <if test="contactAccount != null">
        contact_account,
      </if>
      <if test="contact != null">
        contact,
      </if>
      <if test="contactTel != null">
        contact_tel,
      </if>
      <if test="ftyId != null">
        fty_id,
      </if>
      <if test="werks != null">
        werks,
      </if>
      <if test="locationId != null">
        location_id,
      </if>
      <if test="lgort != null">
        lgort,
      </if>
      <if test="inspectAddress != null">
        inspect_address,
      </if>
      <if test="useDeptCode != null">
        use_dept_code,
      </if>
      <if test="matUse != null">
        mat_use,
      </if>
      <if test="inspectorAccount != null">
        inspector_account,
      </if>
      <if test="inspector != null">
        inspector,
      </if>
      <if test="inspectorTel != null">
        inspector_tel,
      </if>
      <if test="specStock != null">
        spec_stock,
      </if>
      <if test="specStockCode != null">
        spec_stock_code,
      </if>
      <if test="specStockName != null">
        spec_stock_name,
      </if>
      <if test="inspectNoticeId != null">
        inspect_notice_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="itemId != null">
        #{itemId,jdbcType=INTEGER},
      </if>
      <if test="inspectNoticeCode != null">
        #{inspectNoticeCode,jdbcType=VARCHAR},
      </if>
      <if test="inspectRid != null">
        #{inspectRid,jdbcType=VARCHAR},
      </if>
      <if test="matId != null">
        #{matId,jdbcType=INTEGER},
      </if>
      <if test="arriveQty != null">
        #{arriveQty,jdbcType=DECIMAL},
      </if>
      <if test="takeDeliveryQty != null">
        #{takeDeliveryQty,jdbcType=DECIMAL},
      </if>
      <if test="inspectQty != null">
        #{inspectQty,jdbcType=DECIMAL},
      </if>
      <if test="unitId != null">
        #{unitId,jdbcType=INTEGER},
      </if>
      <if test="decimalPlace != null">
        #{decimalPlace,jdbcType=TINYINT},
      </if>
      <if test="purchaseOrderCode != null">
        #{purchaseOrderCode,jdbcType=VARCHAR},
      </if>
      <if test="purchaseOrderRid != null">
        #{purchaseOrderRid,jdbcType=VARCHAR},
      </if>
      <if test="manufacturer != null">
        #{manufacturer,jdbcType=VARCHAR},
      </if>
      <if test="contactAccount != null">
        #{contactAccount,jdbcType=VARCHAR},
      </if>
      <if test="contact != null">
        #{contact,jdbcType=VARCHAR},
      </if>
      <if test="contactTel != null">
        #{contactTel,jdbcType=VARCHAR},
      </if>
      <if test="ftyId != null">
        #{ftyId,jdbcType=INTEGER},
      </if>
      <if test="werks != null">
        #{werks,jdbcType=VARCHAR},
      </if>
      <if test="locationId != null">
        #{locationId,jdbcType=INTEGER},
      </if>
      <if test="lgort != null">
        #{lgort,jdbcType=VARCHAR},
      </if>
      <if test="inspectAddress != null">
        #{inspectAddress,jdbcType=VARCHAR},
      </if>
      <if test="useDeptCode != null">
        #{useDeptCode,jdbcType=VARCHAR},
      </if>
      <if test="matUse != null">
        #{matUse,jdbcType=VARCHAR},
      </if>
      <if test="inspectorAccount != null">
        #{inspectorAccount,jdbcType=VARCHAR},
      </if>
      <if test="inspector != null">
        #{inspector,jdbcType=VARCHAR},
      </if>
      <if test="inspectorTel != null">
        #{inspectorTel,jdbcType=VARCHAR},
      </if>
      <if test="specStock != null">
        #{specStock,jdbcType=VARCHAR},
      </if>
      <if test="specStockCode != null">
        #{specStockCode,jdbcType=VARCHAR},
      </if>
      <if test="specStockName != null">
        #{specStockName,jdbcType=VARCHAR},
      </if>
      <if test="inspectNoticeId != null">
        #{inspectNoticeId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.inossem.wms.model.syn.SynInspectNoticeItem">
    update syn_inspect_notice_item
    <set>
      <if test="inspectNoticeCode != null">
        inspect_notice_code = #{inspectNoticeCode,jdbcType=VARCHAR},
      </if>
      <if test="inspectRid != null">
        inspect_rid = #{inspectRid,jdbcType=VARCHAR},
      </if>
      <if test="matId != null">
        mat_id = #{matId,jdbcType=INTEGER},
      </if>
      <if test="arriveQty != null">
        arrive_qty = #{arriveQty,jdbcType=DECIMAL},
      </if>
      <if test="takeDeliveryQty != null">
        take_delivery_qty = #{takeDeliveryQty,jdbcType=DECIMAL},
      </if>
      <if test="inspectQty != null">
        inspect_qty = #{inspectQty,jdbcType=DECIMAL},
      </if>
      <if test="unitId != null">
        unit_id = #{unitId,jdbcType=INTEGER},
      </if>
      <if test="decimalPlace != null">
        decimal_place = #{decimalPlace,jdbcType=TINYINT},
      </if>
      <if test="purchaseOrderCode != null">
        purchase_order_code = #{purchaseOrderCode,jdbcType=VARCHAR},
      </if>
      <if test="purchaseOrderRid != null">
        purchase_order_rid = #{purchaseOrderRid,jdbcType=VARCHAR},
      </if>
      <if test="manufacturer != null">
        manufacturer = #{manufacturer,jdbcType=VARCHAR},
      </if>
      <if test="contactAccount != null">
        contact_account = #{contactAccount,jdbcType=VARCHAR},
      </if>
      <if test="contact != null">
        contact = #{contact,jdbcType=VARCHAR},
      </if>
      <if test="contactTel != null">
        contact_tel = #{contactTel,jdbcType=VARCHAR},
      </if>
      <if test="ftyId != null">
        fty_id = #{ftyId,jdbcType=INTEGER},
      </if>
      <if test="werks != null">
        werks = #{werks,jdbcType=VARCHAR},
      </if>
      <if test="locationId != null">
        location_id = #{locationId,jdbcType=INTEGER},
      </if>
      <if test="lgort != null">
        lgort = #{lgort,jdbcType=VARCHAR},
      </if>
      <if test="inspectAddress != null">
        inspect_address = #{inspectAddress,jdbcType=VARCHAR},
      </if>
      <if test="useDeptCode != null">
        use_dept_code = #{useDeptCode,jdbcType=VARCHAR},
      </if>
      <if test="matUse != null">
        mat_use = #{matUse,jdbcType=VARCHAR},
      </if>
      <if test="inspectorAccount != null">
        inspector_account = #{inspectorAccount,jdbcType=VARCHAR},
      </if>
      <if test="inspector != null">
        inspector = #{inspector,jdbcType=VARCHAR},
      </if>
      <if test="inspectorTel != null">
        inspector_tel = #{inspectorTel,jdbcType=VARCHAR},
      </if>
      <if test="specStock != null">
        spec_stock = #{specStock,jdbcType=VARCHAR},
      </if>
      <if test="specStockCode != null">
        spec_stock_code = #{specStockCode,jdbcType=VARCHAR},
      </if>
      <if test="specStockName != null">
        spec_stock_name = #{specStockName,jdbcType=VARCHAR},
      </if>
      <if test="inspectNoticeId != null">
        inspect_notice_id = #{inspectNoticeId,jdbcType=INTEGER},
      </if>
    </set>
    where item_id = #{itemId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.inossem.wms.model.syn.SynInspectNoticeItem">
    update syn_inspect_notice_item
    set inspect_notice_code = #{inspectNoticeCode,jdbcType=VARCHAR},
      inspect_rid = #{inspectRid,jdbcType=VARCHAR},
      mat_id = #{matId,jdbcType=INTEGER},
      arrive_qty = #{arriveQty,jdbcType=DECIMAL},
      take_delivery_qty = #{takeDeliveryQty,jdbcType=DECIMAL},
      inspect_qty = #{inspectQty,jdbcType=DECIMAL},
      unit_id = #{unitId,jdbcType=INTEGER},
      decimal_place = #{decimalPlace,jdbcType=TINYINT},
      purchase_order_code = #{purchaseOrderCode,jdbcType=VARCHAR},
      purchase_order_rid = #{purchaseOrderRid,jdbcType=VARCHAR},
      manufacturer = #{manufacturer,jdbcType=VARCHAR},
      contact_account = #{contactAccount,jdbcType=VARCHAR},
      contact = #{contact,jdbcType=VARCHAR},
      contact_tel = #{contactTel,jdbcType=VARCHAR},
      fty_id = #{ftyId,jdbcType=INTEGER},
      werks = #{werks,jdbcType=VARCHAR},
      location_id = #{locationId,jdbcType=INTEGER},
      lgort = #{lgort,jdbcType=VARCHAR},
      inspect_address = #{inspectAddress,jdbcType=VARCHAR},
      use_dept_code = #{useDeptCode,jdbcType=VARCHAR},
      mat_use = #{matUse,jdbcType=VARCHAR},
      inspector_account = #{inspectorAccount,jdbcType=VARCHAR},
      inspector = #{inspector,jdbcType=VARCHAR},
      inspector_tel = #{inspectorTel,jdbcType=VARCHAR},
      spec_stock = #{specStock,jdbcType=VARCHAR},
      spec_stock_code = #{specStockCode,jdbcType=VARCHAR},
      spec_stock_name = #{specStockName,jdbcType=VARCHAR},
      inspect_notice_id = #{inspectNoticeId,jdbcType=INTEGER}
    where item_id = #{itemId,jdbcType=INTEGER}
  </update>
</mapper>