<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.inossem.wms.dao.dic.DicDeliveryDriverMapper">
  <resultMap id="BaseResultMap" type="com.inossem.wms.model.dic.DicDeliveryDriver">
    <id column="delivery_driver_id" jdbcType="INTEGER" property="deliveryDriverId" />
    <result column="delivery_driver_name" jdbcType="VARCHAR" property="deliveryDriverName" />
    <result column="product_line_id" jdbcType="INTEGER" property="productLineId" />
    <result column="is_delete" jdbcType="TINYINT" property="isDelete" />
  </resultMap>
  <sql id="Base_Column_List">
    delivery_driver_id, delivery_driver_name, product_line_id, is_delete
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from dic_delivery_driver
    where delivery_driver_id = #{deliveryDriverId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from dic_delivery_driver
    where delivery_driver_id = #{deliveryDriverId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.inossem.wms.model.dic.DicDeliveryDriver">
    insert into dic_delivery_driver (delivery_driver_id, delivery_driver_name, 
      product_line_id, is_delete)
    values (#{deliveryDriverId,jdbcType=INTEGER}, #{deliveryDriverName,jdbcType=VARCHAR}, 
      #{productLineId,jdbcType=INTEGER}, #{isDelete,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="com.inossem.wms.model.dic.DicDeliveryDriver">
    insert into dic_delivery_driver
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="deliveryDriverId != null">
        delivery_driver_id,
      </if>
      <if test="deliveryDriverName != null">
        delivery_driver_name,
      </if>
      <if test="productLineId != null">
        product_line_id,
      </if>
      <if test="isDelete != null">
        is_delete,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="deliveryDriverId != null">
        #{deliveryDriverId,jdbcType=INTEGER},
      </if>
      <if test="deliveryDriverName != null">
        #{deliveryDriverName,jdbcType=VARCHAR},
      </if>
      <if test="productLineId != null">
        #{productLineId,jdbcType=INTEGER},
      </if>
      <if test="isDelete != null">
        #{isDelete,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.inossem.wms.model.dic.DicDeliveryDriver">
    update dic_delivery_driver
    <set>
      <if test="deliveryDriverName != null">
        delivery_driver_name = #{deliveryDriverName,jdbcType=VARCHAR},
      </if>
      <if test="productLineId != null">
        product_line_id = #{productLineId,jdbcType=INTEGER},
      </if>
      <if test="isDelete != null">
        is_delete = #{isDelete,jdbcType=TINYINT},
      </if>
    </set>
    where delivery_driver_id = #{deliveryDriverId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.inossem.wms.model.dic.DicDeliveryDriver">
    update dic_delivery_driver
    set delivery_driver_name = #{deliveryDriverName,jdbcType=VARCHAR},
      product_line_id = #{productLineId,jdbcType=INTEGER},
      is_delete = #{isDelete,jdbcType=TINYINT}
    where delivery_driver_id = #{deliveryDriverId,jdbcType=INTEGER}
  </update>
  <select id="selectDriverByProductlineId" parameterType="java.lang.Integer" resultType="map">
  select dv.delivery_driver_id,dv.delivery_driver_name from 
  dic_delivery_driver dv where dv.is_delete=0 
  <if test="_parameter!=null and _parameter!=''">
  and dv.product_line_id =  #{id}  
  </if>
  </select>
  
  <select id="queryAllDriverOnPaging" parameterType="java.util.Map" resultType="java.util.Map">
		 SELECT
			dri.delivery_driver_id as id,
			dri.delivery_driver_name as driver_name,
			dri.product_line_id,
			line.product_line_name
		FROM
			dic_delivery_driver dri
		INNER JOIN dic_product_line line ON line.product_line_id = dri.product_line_id
		WHERE
				dri.is_delete=0
			<if test="null != keyword and keyword !=''">
			and dri.delivery_driver_name LIKE CONCAT('%',#{keyword,jdbcType=VARCHAR},'%')
			</if>	
  </select>
  
</mapper>