<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.inossem.wms.dao.dic.DicReceiverMapper">
  <resultMap id="BaseResultMap" type="com.inossem.wms.model.dic.DicReceiver">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="receive_code" jdbcType="VARCHAR" property="receiveCode" />
    <result column="receive_name" jdbcType="VARCHAR" property="receiveName" />
  </resultMap>
  <sql id="Base_Column_List">
    id, receive_code, receive_name
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from dic_receiver
    where id = #{id,jdbcType=INTEGER}
  </select>
  <!--许多id查找接收方 刘宇 2018.02.05 -->
   <select id="selectByManyOfPrimaryKey" parameterType="java.util.List" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from dic_receiver
    where 1 = 1 and 
    <foreach collection="list" item="item" index="index" >
        	
        id between #{item.begin} and #{item.end} or
        	
   </foreach>    
    id in
    <foreach collection="list.get(0).strings" item="string" index="index" open="(" close=")" separator=",">
       #{string} 
    </foreach> 
   
    
  </select>
  
  <!-- 删除单个接收方 刘宇 2018.01.23 -->
  <delete id="deleteDicReceiverByPrimaryKey" parameterType="com.inossem.wms.model.dic.DicReceiver">
    delete from dic_receiver
    where id = #{id,jdbcType=INTEGER}
  </delete>
  
  <insert id="insertSelective " parameterType="com.inossem.wms.model.dic.DicReceiver">
    insert into dic_receiver (id, receive_code, receive_name
      )
    values (#{id,jdbcType=INTEGER}, #{receiveCode,jdbcType=VARCHAR}, #{receiveName,jdbcType=VARCHAR}
      )
  </insert>
   <!-- 添加接收方 刘宇 2018.01.23 -->
  <insert id="insertDicReceiver" parameterType="com.inossem.wms.model.dic.DicReceiver">
    insert into dic_receiver
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="receiveCode != null">
        receive_code,
      </if>
      <if test="receiveName != null">
        receive_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="receiveCode != null">
        #{receiveCode,jdbcType=VARCHAR},
      </if>
      <if test="receiveName != null">
        #{receiveName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.inossem.wms.model.dic.DicReceiver">
    update dic_receiver
    <set>
      <if test="receiveCode != null">
        receive_code = #{receiveCode,jdbcType=VARCHAR},
      </if>
      <if test="receiveName != null">
        receive_name = #{receiveName,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <!-- 修改单个接收方 刘宇 2018.01.25 -->
  <update id="updateDicReceiverByPrimaryKey" parameterType="com.inossem.wms.model.dic.DicReceiver">
    update dic_receiver
    set receive_code = #{receiveCode,jdbcType=VARCHAR},
      receive_name = #{receiveName,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  
   <!-- 分页查询所有接收方 刘宇 2018.01.23-->
	<select id="selectReceiverOnPaging"  parameterType="com.inossem.wms.model.dic.DicReceiver" resultMap="BaseResultMap">
	SELECT 
	<include refid="Base_Column_List" />  
	FROM dic_receiver  where 1 = 1  
	<if test="id != null and id > 0">
		and id = #{id,jdbcType=INTEGER}
	</if>
	<if test="receiveCode != null and receiveCode !=''">
    	and receive_code = #{receiveCode,jdbcType=VARCHAR}   
    </if>	
    <if test="receiveName != null and receiveName !=''">
    	and receive_name = #{receiveName,jdbcType=VARCHAR}   
    </if>
    <if test="condition != null and condition !=''">
    	and (id = #{condition} or receive_code = #{condition} 
		     or receive_name = #{condition})
    </if>	
	</select>
	
	<!-- 查询所有接收方 刘宇 2018.02.01-->
	<select id="selectReceiver"   resultMap="BaseResultMap">
	SELECT 
	<include refid="Base_Column_List" />  
	FROM dic_receiver 
	</select>
	<!-- 查询接收方数量 刘宇 2018.01.23 -->
	<select id="selectDicReceiverCount" resultType="java.lang.Integer">
    select count(*) from  dic_receiver;
  </select>
</mapper>