<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.inossem.wms.dao.stock.StockOccupancyMapper">
  <resultMap id="BaseResultMap" type="com.inossem.wms.model.stock.StockOccupancy">
    <result column="stock_type_id" jdbcType="TINYINT" property="stockTypeId" />
    <result column="mat_id" jdbcType="INTEGER" property="matId" />
    <result column="fty_id" jdbcType="INTEGER" property="ftyId" />
    <result column="location_id" jdbcType="INTEGER" property="locationId" />
    <result column="package_type_id" jdbcType="INTEGER" property="packageTypeId" />
    <result column="batch" jdbcType="BIGINT" property="batch" />
    <result column="qty" jdbcType="DECIMAL" property="qty" />
  </resultMap>
  <sql id="Base_Column_List">
    stock_type_id,mat_id,fty_id,location_id,package_type_id,batch,qty
  </sql>
  
  <select id="selectByUniqueKey" parameterType="com.inossem.wms.dao.stock.StockOccupancyMapper" resultMap="BaseResultMap">
    SELECT 
    <include refid="Base_Column_List" />
    FROM 
    <choose>  
             <when test="isUrgent == null ">stock_occupancy</when>  
             <when test="isUrgent != null">stock_occupancy_urgent</when>  
    </choose>
    
    WHERE stock_type_id = #{stockTypeId}
      and mat_id = #{matId}
      and fty_id = #{ftyId}
      and location_id = #{locationId}
      and batch = #{batch}
  </select>
  <delete id="deleteByByUniqueKey" parameterType="com.inossem.wms.dao.stock.StockOccupancyMapper">
    DELETE FROM 
    <choose>  
             <when test="isUrgent == null ">stock_occupancy</when>  
             <when test="isUrgent != null">stock_occupancy_urgent</when>  
    </choose>
     WHERE stock_type_id = #{stockTypeId}
      and mat_id = #{matId}
      and fty_id = #{ftyId}
      and location_id = #{locationId}
      and batch = #{batch}
  </delete>  
 <update id="updateQty" parameterType="com.inossem.wms.model.stock.StockOccupancy">
    UPDATE 
    <choose>  
             <when test="isUrgent == null ">stock_occupancy</when>  
             <when test="isUrgent != null">stock_occupancy_urgent</when>  
    </choose>
    SET qty = #{qty}
     WHERE stock_type_id = #{stockTypeId}
      and mat_id = #{matId}
      and fty_id = #{ftyId}
      and location_id = #{locationId}
      and batch = #{batch}
  </update>
  <insert id="insertSelective" parameterType="com.inossem.wms.model.stock.StockOccupancy">
    insert into 
    <choose>  
             <when test="isUrgent == null ">stock_occupancy</when>  
             <when test="isUrgent != null">stock_occupancy_urgent</when>  
    </choose>
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="stockTypeId != null">
        stock_type_id,
      </if>
      <if test="matId != null">
        mat_id,
      </if>
      <if test="ftyId != null">
        fty_id,
      </if>
      <if test="locationId != null">
        location_id,
      </if>
      <if test="packageTypeId != null">
        package_type_id,
      </if>
      <if test="batch != null">
        batch,
      </if>
      <if test="qty != null">
        qty,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="stockTypeId != null">
        #{stockTypeId,jdbcType=TINYINT},
      </if>
      <if test="matId != null">
        #{matId,jdbcType=INTEGER},
      </if>
      <if test="ftyId != null">
        #{ftyId,jdbcType=INTEGER},
      </if>
      <if test="locationId != null">
        #{locationId,jdbcType=INTEGER},
      </if>
      <if test="packageTypeId != null">
        #{packageTypeId,jdbcType=INTEGER},
      </if>
      <if test="batch != null">
        #{batch,jdbcType=BIGINT},
      </if>
      <if test="qty != null">
        #{qty,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
</mapper>